{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <h1><u>Library Membership Registration Form</u></h1>
        <img src="{% static 'images/images.jpg' %}" height="700px"width="700px"  alt="image of library"/>
        <div  style="float:right; width:450px">
            
            <table width="50%" cellpadding="5px" cellspacing="20px">
                <tr >
                    <td valign="top"align="center"><b><h1>Login</h1></b></td>
                </tr>
                <tr>
                    <td><input type="text" placeholder="Username" style="height:30px "size="50"/></td>
                </tr>
                <tr>
                    <td>
                        <input type="password" placeholder="Password"  style="height:30px "size="50"/>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <img src="{% static 'images/logo.jpg' %}" width="100">
                    </td>
                </tr>
               
            </table>
        </div>
        </form>
</body>
</html>